@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;1,300;1,400&family=Outfit:wght@400;700&family=Overpass:ital@1&family=Pacifico&family=Poppins:wght@100;300;400;500&family=Roboto+Condensed&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

:where(input, button) {
  border: 0;
  outline: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1.25rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #3baea0;
}

.circle {
  position: fixed;
  top: -50vmin;
  left: -50vmin;
  height: 90vmin;
  width: 90vmin;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  z-index: -1;
}

.circle::after {
  content: "";
  position: inherit;
  top: -50vmin;
  right: -50vmin;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  background-color: rgba(194, 77, 44, 0.9);
}

.container {
  padding: 3.25rem;
  border-radius: 10px;
  background: rgba(169, 48, 48, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.container > header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vmin;
}
.container > header > .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #fff;
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}
.container > header > .logo > span {
  font-size: 3.5vmin;
}

.container > .input-part {
  display: flex;
  flex-direction: column;
  padding: 1vmin 4vmin;
  gap: 2vmin;
}
.container > .input-part > input {
  background-color: #ddd;
  padding: 1vmin 2.5vmin;
  border-radius: 2rem;
}
.container > .input-part > input:focus {
  background-color: #fff;
}
.container > .input-part > input:focus::-moz-placeholder {
  -moz-transition: 0.2s;
  transition: 0.2s;
  font-size: 1.4vmin;
  letter-spacing: 0.5px;
}
.container > .input-part > input:focus::placeholder {
  transition: 0.2s;
  font-size: 1.4vmin;
  letter-spacing: 0.5px;
}

.container > .options-part {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}
.container > .options-part :where(label, a) {
  font-size: 0.8rem;
}
.container > .options-part > .remember-me {
  display: flex;
  gap: 1vmin;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.container > .options-part > .forgot-password > a {
  color: #fff;
}

.container > .button {
  padding: 2.5vmin 4vmin;
  text-align: center;
}
.container > .button button {
  width: 100%;
  padding: 1.5vmin 2vmin;
  border-radius: 2rem;
  background: #c24d2c;
  border: 1px solid #c24d2c;
  color: #fff;
  font-size: 2.3vmin;
}
.container > .button button:hover {
  opacity: 0.7;
}

.separator {
  text-align: center;
  padding: 2vmin 0 0.5vmin 0;
}
.separator > small {
  color: #fff;
}

.container > .media-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vmin;
  gap: 3vmin;
}

.container > .media-icons > a {
  transition: 0.2s;
  padding: 2vmin;
  border-radius: 50%;
  background-color: #f3f3f3;
  text-decoration: none;
  font-size: 3vmin;
}
.container > .media-icons > a:first-child {
  color: rgb(24, 119, 242);
}
.container > .media-icons > a:nth-child(2) {
  color: #1DA1F2;
}
.container > .media-icons > a:last-child {
  color: #0088cc;
}
.container > .media-icons > a:hover {
  transform: scale(0.9) translateY(-1.5vmin);
}

.error {
  border: 2px solid #f00;
}

.spinner {
  animation: spinner 0.2s linear;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg) scale(1);
  }
  100% {
    transform: rotate(360deg) scale(1.1);
  }
}
@media (max-width: 500px) {
  .container {
    padding: 2.25rem;
  }
  .container > .button > .button {
    font-size: 2.2vmin;
  }
}
@media (max-width: 380px) {
  .container {
    padding: 1.75rem;
  }
  .container > .input-part {
    gap: 3vmin;
  }
  .container > .input-part > input {
    font-size: 3.5vmin;
  }
  .container > .input-part > input:focus::-moz-placeholder {
    font-size: 2vmin;
  }
  .container > .input-part > input:focus::placeholder {
    font-size: 2vmin;
  }
}/*# sourceMappingURL=style.css.map */